{% extends 'index.html' %}

{% load static %}

{% block contenido %}
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing sections-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-header">
            <h2>Precios</h2>
            <p>Los Planes</p>
          </div>
  
          <div class="row g-4 py-lg-5" data-aos="zoom-out" data-aos-delay="100">
  
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Gratuito</h3>
                <div class="icon">
                  <i class="bi bi-box"></i>
                </div>
                <h4><sup>$</sup>0<span> / Mes</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                  <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                  <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                  <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                  <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4">
              <div class="pricing-item featured">
                <h3>Basico</h3>
                <div class="icon">
                  <i class="bi bi-box2"></i>
                </div>
  
                <h4><sup>$</sup>29<span> / Mes</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                  <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                  <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                  <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                  <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
            <div class="col-lg-4">
              <div class="pricing-item">
                <h3>Premium</h3>
                <div class="icon">
                  <i class="bi bi-boxes"></i>
                </div>
                <h4><sup>$</sup>49<span> / Anual</span></h4>
                <ul>
                  <li><i class="bi bi-check"></i> Quam adipiscing vitae proin</li>
                  <li><i class="bi bi-check"></i> Nec feugiat nisl pretium</li>
                  <li><i class="bi bi-check"></i> Nulla at volutpat diam uteera</li>
                  <li><i class="bi bi-check"></i> Pharetra massa massa ultricies</li>
                  <li><i class="bi bi-check"></i> Massa ultricies mi quis hendrerit</li>
                </ul>
                <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
              </div>
            </div><!-- End Pricing Item -->
  
          </div>
  
        </div>
      </section><!-- End Pricing Section -->
{% endblock  %}